<!-- Student - 2 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- style -->
    <link rel="stylesheet" href="../css/navbar.css">
    <title>navbar</title>
</head>

<div class="nav-header">
    <a href="../Pages/Home.html"><img src="../images/logo.png" alt="" class="logo"></a>
    <nav class="nav-bar">
        <ul class="nav_links">
            <li class="nav-li"><a class="nav-a" href="../Pages/Home.html">Home</a></li>
            <li class="nav-li"><a class="nav-a" href="../Pages/Thumbnail_images.html">Gallery</a></li>
            <li class="nav-li"><a class="nav-a" href="../Pages/Buy_products.html">Store</a></li>
            <li class="nav-li"><a class="nav-a" href="../Pages/Quiz.html">Quiz</a></li>
            <li class="nav-li"><a class="nav-a" href="../Pages/Diagram_SVG.html">Sitemap</a></li>
            <li class="nav-li"><a class="nav-a" href="../Pages/Student_Details.html">Student Details</a></li>
        </ul>
    </nav>
    <button type="button" class="nav-button" name="button"
        onclick="location.href='../Pages/Query_Form.html'">Contact</button>

</div>

</html>